@import "../../../styles/common.scss";

.theme-popup-screen{
    height: 100%;
    
    .bg {
        background-color: #00000060;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.theme-popup-layout {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 700px;
    background-color: white;
    padding: 40px;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .theme-name {
        display: block;
        margin-bottom: 30px;
        input {
            width: 100%;
            font-size: 30px;
            font-weight: bold;
            padding-top: 0;
            padding-bottom: 10px;
            outline:none;
            border:none;
            border-bottom: 1px solid;
        }
    }

    .faX {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 25px;
        color: $grey;
    }
}

/* 스크롤바 너비 설정 */ 
.theme-popup-layout::-webkit-scrollbar{ 
    width: 6px; 
    float: right;
    position: absolute;
    top: 0;
    right: 10px;
}

.theme-popup-layout::-webkit-scrollbar-thumb{ 
    /* 스크롤바 막대 높이 설정 */ 
    height: 17%; 
    background-color: #b4b4b4;

    /* 스크롤바 둥글게 설정 */ 
    border-radius: 10px; 
} 

.image-and-unchangable-info {
    margin-bottom: 20px;

    .move_to_cafe-btn {
        height: 30px;
        width: 120px;
        margin-bottom: 10px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        top: 28px;
        right: 70px;
        flex: 1;
        background-color: black;

        h4 {
            font-size: 12px;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .image-section {
        position: absolute;
        top: 110px;
        left: 440px;
    }

    .file-uploader-layout {
        width: 200px;
        height: 200px;
    }

    .theme-image {
        border-radius: 5px;
        width: 200px;
        height: 200px;
        margin-right: 20px;
        object-fit: cover;
    }

    .unchangable-info {
        display: flex;
        padding-bottom: 20px;
        width: 370px;
        border-bottom: 1px solid #eeeeee;

        .theme-info__part {
            display: flex;
            font-size: 16px;
            line-height: 2.0;
            flex: 0.6;

            .theme-info__title {
                font-weight: bold;
                flex: 0.5;
            }

        }
    }
}

.theme-changable-info {
    display: flex;
    line-height: 3.125;
    font-size: 16px;
    margin-bottom: 25px;
    
    .theme-info__title {
        font-weight: bold;
        flex: 0.5;
    }

    .theme-info__inputs {
        display: flex;
        flex-direction: column;

        textarea {
            margin-top: 10px;
            padding: 5px;
            resize: none;
            width: 380px;
            height: 60px;
            outline: none;
            line-height: 1.3;
        }
    }
}

.theme-popup-buttons {
    display: flex;

    .btn {
        margin: 10px;
        margin-bottom: 0;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        right: 10px;
        flex: 1;

        h2 {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .delete-theme-btn {
        background-color: rgb(159, 20, 20);
    }

    .modify-theme-btn {
        
        background-color: black;
    }
}