@import "../../styles/common.scss";

.report-list-layout {
    .report-table { 
        border-collapse: collapse; 
        width: 100%;

        tr { 
            border-top: 1px solid $grey; 
            border-bottom: 1px solid $grey; 
            
            
            th {
                padding: 10px;
                padding-top: 15px;
                padding-bottom: 15px;
                font-weight: bold;
            }

            td {
                padding: 10px;
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: center;

                &:nth-child(1) {

                }

                
            }

            .report-contents {
                display: flex;
                // justify-content: flex-start;
            }

            .handle-btns {
                display: flex;
                justify-content: center;

                .handle-btn {
                    width: 88px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;;

                    h2 {
                        font-size: 14px;
                        color: white;
                    }
                }

                .handled {
                    background-color: $grey;
                }

                .not-yet-handled {
                    background-color: black;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

        }
    }
}

// /* 스크롤바 너비 설정 */ 
// .report-list-layout::-webkit-scrollbar{ 
//     width: 6px; 
//     float: right;
//     position: absolute;
//     top: 0;
//     left: 300px;
// }

// .report-list-layout::-webkit-scrollbar-thumb{ 
//     /* 스크롤바 막대 높이 설정 */ 
//     height: 17%; 
//     background-color: #b4b4b4;

//     /* 스크롤바 둥글게 설정 */ 
//     border-radius: 10px; 
// } 
