@import "../../../styles/common.scss";


.cafe-info-theme-layout {
    margin-left: 24px;
    margin-right: 18px;
    padding-top:5px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-grey;
    
    &:hover {
        cursor: pointer;
    }

    .theme-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        display: flex;
        
        .unavailable-warning {
            color: rgb(205, 0, 0);
            padding-left: 30px;
        }
    }
}

.cafe-info-theme-layout .theme-title-section {
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: space-between;
    
    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .faArrowRight {
        font-size: 22px;
        color: $grey;

        &:hover {
            cursor: pointer;
        }
    }
}

.cafe-info-theme-layout .theme-info-section {
    display: flex;
    flex:1;

    .theme-image {
        border-radius: 5px;
        width: 125px;
        height: 125px;
        margin-right: 20px;
        object-fit: cover;
    }

    .theme-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        line-height: 1.4;
        font-size: 16px;

        .theme-info__upper {
            display: flex;
            align-items: center;
            flex: 1;
            
        }
        .theme-info__lower {
            margin-top: 10px;
        }

        .theme-info__part {
            display: flex;
            flex-direction: row;
            flex: 0.49;

            .theme-info__title h2 {
                width: 84px;
                font-weight: bold;
            }

            .theme-info__content {
                flex: 1;
            }
        }

        .divider__ver {
            width: 1px;
            height: 95%;
            background-color: $light-grey;
            margin-right: 10px;
        }
    }
}