@import "../../styles/common.scss";

.cafe-layout {
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid $light-grey;
    width: 555px;

    &:hover {
        cursor: pointer;
    }

    .cafe-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        display: flex;

        .unavailable-warning {
            color: rgb(205, 0, 0);
            padding-left: 30px;
        }
    }

    .cafe-info-section {
        display: flex;

        .cafe-image {
            border-radius: 5px;
            width: 125px;
            height: 125px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: lightgrey;
            font-size: 12px;
            margin-right: 20px;

            img {
                border-radius: 5px;
                width: 125px;
                height: 125px;
                object-fit: cover;
            }
        }

        .cafe-info {
            width: 340px;
            height: 125px;
            display: flex;
            line-height: 1.2;

            .cafe-info__title {
                width:80px;
                height:100%;
            
                h2 {
                    font-weight: bold;
                }
            }

            .cafe-info__content {
                width:260px;
                height:100%;
            }
            
        }
    }
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
