@import "../../styles/common.scss";

.cafe-list-layout {
    display: flex;
    flex-direction: column;
    position: relative;

    .sort-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: -10px;
        right: 65px;

        &:hover {
            cursor: pointer;
        }

        .circle {
            width: 13px;
            height: 13px;
            border: 1px solid $grey;
            border-radius: 10px;
        }
    
        .faCheckCircle {
            font-size: 15px;
            color: $grey;
        }
    
        h6 {
            font-size: 14px;
            color: $grey;
            margin-left: 5px;
        }
    }
}

.cafe-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 1100px;
    width: 100%;
    height: 670px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* 스크롤바 너비 설정 */ 
.cafe-list::-webkit-scrollbar{ 
    width: 6px; 
    float: right;
    position: absolute;
    top: 0;
    left: 300px;
}

.cafe-list::-webkit-scrollbar-thumb{ 
    /* 스크롤바 막대 높이 설정 */ 
    height: 17%; 
    background-color: #b4b4b4;

    /* 스크롤바 둥글게 설정 */ 
    border-radius: 10px; 
} 

/* 스크롤바 뒷 배경 설정*/ 
// .cafe-list-layout::-webkit-scrollbar-track{
//     margin-right: 1000px;
//     background-color: rgba(0,0,0,0); 
// }