@import "../../styles/common.scss";

.cafe-popup-screen{
    height: 100%;
    
    .bg {
        background-color: #00000060;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cafe-popup-layout {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 550px;
    background-color: white;
    padding: 40px;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .cafe-name {
        display: block;
        margin-bottom: 30px;

        input {
            width: 100%;
            font-size: 30px;
            font-weight: bold;
            padding-top: 0;
            padding-bottom: 10px;
            outline:none;
            border:none;
            border-bottom: 1px solid;
        }
    }

    .faX {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 25px;
        color: $grey;
    }
}

/* 스크롤바 너비 설정 */ 
.cafe-popup-layout::-webkit-scrollbar{ 
    width: 6px; 
    float: right;
    position: absolute;
    top: 0;
    right: 10px;
}

.cafe-popup-layout::-webkit-scrollbar-thumb{ 
    /* 스크롤바 막대 높이 설정 */ 
    height: 17%; 
    background-color: #b4b4b4;

    /* 스크롤바 둥글게 설정 */ 
    border-radius: 10px; 
} 

.cafe-image-bg {
    background-color: $grey;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: absolute;
    top: 120px;
    left: 410px;

    h6 {
        color: white;
        font-weight: bold;
        text-decoration: underline;
        font-size: 14px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cafe-image {
        border-radius: 5px;
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }
}

.cafe-changable-info {
    display: flex;
    line-height: 3.125;
    font-size: 16px;
    margin-bottom: 25px;
    
    .cafe-info__title {
        font-weight: bold;
        flex: 0.45;
    }

    .cafe-info__inputs {
        display: flex;
        flex-direction: column;
        flex: 0.5;

        .english-possible-radio-section {
            display: flex;
        }

        textarea {
            margin-top: 10px;
            padding: 5px;
            resize: none;
            width: 420px;
            height: 60px;
            outline: none;
            line-height: 1.3;
        }
    }
}

.cafe-popup-buttons {
    display: flex;

    .add-cafe-btn {
        background-color: black;
        margin: 10px;
        margin-bottom: 0;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        right: 10px;
        flex: 1;

        h2 {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }
}